body,td,p,ul,li {
	color: #333333;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
}
    
body {
	margin: 0px;
}

p {
	padding: 5px;
}

.default {
	margin: 5px;
}

.expanded {
	margin-left:    5px;
	margin-right:   5px;
	margin-top:    15px;
	margin-bottom: 15px;
}

/* 
** LINKS
** 
*/

/*  This is the most USEFUL CSS CONSTRUCT EVER!!!!!!    SWEEEEET  */
a img {border: none}

a { color: #004590; text-decoration: underline; background-color: transparent; }
/* a { color: #cc6600; text-decoration: underline; background-color: transparent; } */

a.dynamic { color: #336699; text-decoration: none }
a.dynamic:hover { color: #cc6600; text-decoration: underline; background-color: transparent }



.pico    {font-size: 9px;}
.micro   {font-size: 12px;}
.normal  {font-size: 16px;}
.subheading {font-size: 15px; font-weight: bold }
.heading {font-size: 21px; }
.banner  {font-size: 36px; }

.primary   { color: #306090 }
.secondary { color: #cc6600 }
.tertiary  { color: #990000 }

.window {
	background-color: #eeeeff;
	width: 300;
}

.window th {
	text-align: left;
	background-color: #ccccff;
	font-size: 22px;
	width: 300;
}

/* 
** Colour constants...
** 
*/

.red      { color: #990000 }
.orange   { color: #cc6600 }
.yellow   { color: #ffff90 }
.manilla  { color: #efe7c7 }
.manilla2 { color: #fafad2 }
.green    { color: #009900 }
.blue     { color: #336699 }
.denim    { color: #3C78B5 }
.navy     { color: #003366 }
.brown    { color: #D0B080 }
 
.errTxt     {font-family: "Arial", "Helvetica"; font-size: 12px; color: #990000; font-weight: bold;}

.bodyspaced  {
	color: #666666;
	font-size: 13px;
	line-height: 17px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodyspacedblk {
	color: #000000;
	font-size: 13px;
	line-height: 17px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodymedium {
	color: #666666;
	font-size: 12px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodymediumblk {
	color: #000000;
	font-size: 12px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }
	
.bodymediumorng {
	color: #cc6600;
	font-size: 12px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodymediumspaced {
	color: #666666;
	font-size: 12px;
	line-height: 17px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodysmall {
	color: #333333;
	font-size: 10px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodysmallgray {
	color: #999999;
	font-size: 10px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.bodymicro {
	color: #333333;
	font-size: 9px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.headline {
	color: #000000;
	font-size: 18px;
	font-weight: bold;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.title {
	color: #999999;
	font-size: 21px;
	font-weight: normal;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }
	
.titleorng {
	color: #cc6600;
	font-size: 21px;
	font-weight: normal;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }
	
.titlered {
	color: #cc0000;
	font-size: 21px;
	font-weight: normal;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.stepon {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	background-color: #369;
	padding: 2px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.stepoff {
	color: #cccccc;
	font-size: 13px;
	font-weight: bold;
	background-color: #fff;
	padding: 2px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.issorted {
	color: #000000;
	text-decoration: underline;
	background-color: transparent;
	font-weight: bold }

.subhead {
	color: #333333;
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.subheadblu {
	color: #336699;
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.subheadblk {
	color: #000000;
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

.subheadorng {
	color: #cc6600;
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }
	
.subheadred {
	color: #990000;
	font-weight: bold;
	font-size: 13px;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif }

br { font-size: 12px }

/*  this only works in NS7x :(   
	But.. it's VERY cool.
 */
td.cool {
	background-color: #d0d0d0 }
td.cool:hover {
	background-color: #ffcc00 }

tr.ultracool {
	background-color: #d0d0d0 }
tr.ultracool:hover {
	background-color: #ffcc00 }
.cool {
	background-color: #d0d0d0 }
p.cool:hover {
	background-color: #ffcc00 }

.src {
	border: 1px solid #336699;

}

.source {
    background-color: whitesmoke;
    border: 15px solid #F5F5F5;
    font-size: 12px;
    margin: 0px;    
  }
  


/* from atlassian's wiki */
/* code formatting */
.code {
  margin-top: 4px;
  margin-bottom: 4px;
  padding: 10px 5px 10px 15px;
  color: inherit;
  background-color: #eeeeee;
  border: 1px dotted #164A7D;
  font-family: courier, courier new, monospace;
  font-size: 12px;
  line-height: 100%;
  white-space: pre;
  overflow: auto;
  overflow: scroll -moz-scrollbars-horizontal;
  overflow-x: auto;
}


.java-keyword {
  font-weight: bold;
  color: #0000aa;
  background-color: inherit;
}

.java-object {
  color: #000088;
  background-color: inherit;
}

.java-quote {
  color: #00aa00;
  background-color: inherit;
}
	

/* 
** FORM ELEMENTS
** 
*/

/*input {
	border: 1px #999999 solid;
	padding: 1px;
	background: #ffffff;
	font: 12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #cc6600 }
	
	*/
	
	input:text, textarea {
	
	background-color: #FFF5EE;
	border: solid 1px Black;
	border-top-color: #696969;
	border-left-color: #778899;
}

input.submit, input.submit:focus {
    font-family: Verdana, Sans-serif;
    font-size: 12px;
    font-weight: bold;
    background-color: #a0a0a0;
    border-width: 1px;
    color: white;
  }
	
input.txt {
	border: 1px #999999 solid;
	padding: 1px;
	background: #ffffff;
	font: 12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #cc6600 }
	
input.txterror {
	border: 1px #cc0000 solid;
	padding: 1px;
	background: #F5F5F5;
	font: 12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #cc0000 }
	
input.txtok {
	border: 1px #999 solid;
	padding: 1px;
	background: #fff;
	font: 12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #666 }


#submit {
	background-color: #DCC085;
	border: solid 1px #C5A46C;
	border-top-color: #E6D098;
	border-left-color: #E6D098;
}

#submit:hover, #submit:focus, input:focus, textarea:focus, select:focus {
	background: #FAFAD2;
}

 

#submit:hover {
	background: #FFFAFA;
}
	
/*textarea {
	border: 1px #666 solid;
	background: #fff;
	font:13px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #c60 } */
/*	color: #666 } */

.textarea_header_row {
	border-left: solid 1px #999999;
	border-top: solid 1px #999999;
	border-right: solid 1px #999999 }

select {
	border: 1px #666 solid;
	background: #fff;
	font:12px Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #333 }

form { display:inline }

input.buttonyel {
	background-color: #ffcc00;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333;
	padding: 2px }

input.button {
	background-color: #efefef;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #333;
	padding: 2px }
input.button:hover {
	background-color: #cc6600
}

input.searchbutton {
	background-color: #efefef;
	font-family: Trebuchet MS, Verdana, Geneva, Arial, Helvetica, sans-serif;
 	font-size: 10px;
 	font-weight: bold;
 	color: #333;
 	padding: 1px }


/* The navigation tab portion of this style sheet:
** Plone style sheet for CSS2-capable browsers.
** Copyright Alexander Limi, 2002-2003 - http://www.plonesolutions.com
**
** Style sheet documentation can be found at http://plone.org/documentation
** 
** Feel free to use whole or parts of this for your own designs, but give credit
** where credit is due.
**
*/
div.tabs {
    /* Navigational Plone Tabs(tm), implemented by customizing the a tag - they are surprisingly elegant. The power of CSS runs strong in these :) */
    background: transparent;
	text-decoration: none;
    border-collapse: collapse;
    border-bottom-color: #8CACBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 0.5em 0em 0em 2em;
    white-space: nowrap;
}

div.tabs a {
    /* The normal, unselected tabs. They are all links */
    background: transparent;
	text-decoration: none;
	border-color: #8CACBB;
    border-width: 1px; 
	border-style: solid solid none solid;    
    color: #436976;
    font-weight: normal;
    height: 1.2em;
    margin-right: 0.5em;
    padding: 0em 1em;
    text-transform: lowercase;
}



.nav {
    /* The selected tab. There's only one of this */
    background: #DEE7EC;
    color: #436976;
    font-weight: normal;
     border-top: 1px solid #8CACBB;
    border-bottom: 1px solid #8CACBB;
    border-right: 1px solid #8CACBB;
  
}


div.tabs a.current {
    /* The selected tab. There's only one of this */
    background: #DEE7EC;
    border-bottom: 1px solid #DEE7EC;
    color: #436976;
    font-weight: normal;

}

div.tabs a:hover {
    background: #DEE7EC;
	border-color: #8CACBB;
    border-bottom-color: #DEE7EC;
    color: #436976;
}

div.subnav {
    background: #DEE7EC;
	text-decoration: none;
    border-bottom-color: #8CACBB;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: Black;
    padding-right: 3em;
    text-align: right;
    text-transform: lowercase;
}

div.subnav a {
    background-color: transparent;
	text-decoration: none;
	color: #436976;
    font-weight: normal;
    margin-left: 1em;
}

div.subnav img {
    vertical-align: top;
}

div.footer {
    background: #DEE7EC;
    border-top: 1px solid #8CACBB;
    border-bottom: 1px solid #8CACBB;
    color: Black;
    clear: both;
    float: none;
    margin: 2em 0em;
    padding: 0.5em 0em 0.5em 0em;
    text-align: center;
   
}

