#set ($trig = $trigger)
#set ($daysOfWeekVals = $trigger.daysOfWeekValues)
#set ($dayLabels = $trigger.daysOfWeekLabels)

<form name="UICronTriggerForm" method="post" action="${base}/schedule/uiCronSchedule.action")>
<h1>#text("title.schedule.cron")</h1>
<input type="hidden" name="jobName" value="$jobName"/>
<input type="hidden" name="jobGroup" value="$jobGroup"/>
<table>
      <tr class="listHeading"><td colspan="2">&nbsp;</td></tr>
    	<tr>
		<td>#text("label.trigger.group")</td>
		<td><input type="text" name="trigger.group" value="$!trigger.group"/></td>
		<td><i>#text("hint.trigger.group")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.name")</td>
		<td><input type="text" name="trigger.name" value="$!trigger.name"/></td>
		<td><i>#text("hint.trigger.name")</i></td>
	</tr>
    <tr class="listHeading"><td colspan="2">&nbsp;</td></tr>
    <tr class="listRowUnshaded">
      <td width="80">#text("label.date")</td>
      <td align="center">
	#select("trigger.daysOfWeek" 2  $daysOfWeekVals $dayLabels)
	#select("trigger.daysOfMonth" 2  $trig.daysOfMonthValues $trig.daysOfMonthLabels)
	#select("trigger.months" 2  $trig.monthsValues $trig.monthsLabels)
      <select name="trigger.years" size="5" multiple="true" >
        #foreach ($year in $trig.yearsLabels)
            <option value="$year" #if("$v"=="$s") selected="selected"#end>$year</option>
        #end
    </select>                                                                                  
    </td>
    <td valign="top">
            #text("label.dayorweek")
    </td>
    </tr>
    <tr class="listRowShaded">
      <td width="80">#text("label.time")</td>
      <td colspan="2" align="left">
  ##select( "trigger.hours"   $trig.hours $trig.hoursValues $trig.hoursLabels   )
	  <select name="trigger.hours" size="5" multiple="true"> 
		#foreach($label in $trig.hoursLabels)
			#set($index = $velocityCount - 1)
			<option value="$stack.findValue("trigger.hoursValues[${index}]")">$label </option>
		#end
	  </select>
	  <select name="trigger.minutes" size="5" multiple="true"> 
		#foreach($label in $trig.minutesLabels)
			#set($index = $velocityCount - 1)
			<option value="$stack.findValue("trigger.minutesValues[${index}]")">$label </option>
		#end
	   </select>	
	##select( "trigger.minutes"   $trig.minutes $trig.minutesLabels $trig.minutesValues   )
      </td>
    </tr>
    </tr>
</table>
<input type="submit" value="#text("label.global.schedule")" name="scheduleAction"/>
