<xml>
<html>
<body>
<h2>#text("title.raw.heading")</h2>
<i>#text("title.definitions.hint")</i>
<a href="${req.contextPath}/definition/view.action">#text("title.createDefinition")</a><br/>
<textarea cols="60" rows="30" name="content">${xmlResult}</textarea>
</body>
</html>
	