#fieldErrors()

   #if( $fieldErrors.size() > 0 )
	<p>
	<font color="red">
	<b>ERRORS:</b><br>
	<ul>
	#foreach( $error in $fieldErrors )
		<li>$error</li>
	#end
	</ul>
	</font>
	</p>
   #end
#set($msg = "you suck")

message=$msg
${req.contextPath}
