<html>
	<head>
		<script language="JavaScript">
			function submitForm(cmd) {
				//alert(cmd);
				document.getElementById("command").value=cmd;
				document.getElementById("frmChooseScheduler").submit();
			}
		</script>
	</head>
#set ($scheduler = ${scheduleInfo.scheduler})
<form id="frmChooseScheduler" name="chooseSchedulerForm" method="post" action="${base}/schedule/scheduleControl.action">
<input type="hidden" id="command" name="command" value=""/>
<table>
	<tr>
		<td width="200">#text("label.scheduler")</td>
		<td>
		<select id="schedulerName" name="schedulerName" onchange="submit()">
			#foreach($schedule in $scheduleInfo.schedulers)
				<option id="$schedule.schedulerName" value="$schedule.schedulerName">$schedule.schedulerName</option>
			#end
		</select>
		</td>
	</tr>
	<tr/>
	<tr>
		<td>#text("label.scheduler.schedulerName")</td><td>$!{scheduler.schedulerName}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.state")</td><td>$!{scheduler.state}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.runningSince")</td><td>$!{scheduler.runningSince}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.numJobsExecuted")</td><td>$!{scheduler.numJobsExecuted}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.persistenceType")</td><td>$!{scheduler.persistenceType}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.threadPoolSize")</td><td>$!{scheduler.threadPoolSize}</td>
	</tr>
	<tr>
		<td>#text("label.scheduler.version")</td><td>$!{scheduler.version}</td>
	</tr>
	<tr/>
<table>	
<table>
	<tr>
		<td width="30">
		 <input type="image"  value="start" src="${base}/icons/Play24.gif" alt="Start Scheduler" onclick="submitForm(this.value)" border="0"/> 
		</td>
		<td width="30">
		 <input type="image" value="pause" src="${base}/icons/Pause24.gif"  alt="Pause Scheduler" onclick="submitForm(this.value)" border="0"/> 
		<td width="30">
		 <input type="image" value="stop" src="${base}/icons/Stop24.gif"  alt="Stop Scheduler" onclick="submitForm(this.value)" border="0"/> 
		</td>
		<td width="30">
		 <input type="image" value="waitAndStopScheduler" src="${base}/icons/Stop24.gif"   alt="Stop scheduler (wait for jobs to complete)" onclick="submitForm(this.value)" border="0"/> 
		</td>
	</tr>
</table>
#text("title.chooseScheduler.setCurrentScheduler"): <input type="submit" class="submit" value="set" property="btnSetSchedulerAsCurrent"/>
</form>

<hr/>
#text("title.chooseScheduler.executingJobs")
<table><tr>
<td>#text("label.job.group")</td>
<td>#text("label.job.name")</td>
<td>#text("label.job.description")</td>
<td>#text("label.job.jobClass")</td>
</tr>
#foreach($job in $scheduleInfo.executingJobs)
	<tr>
		<td>${job.groupName}</td>
		<td>${job.name}</td>
		<td>${job.description}</td>
		<td>${job.jobClass}</td>
	</tr>
#end
</table>
<table>
	<tr>
		<td width="30">
			<img src="$base/icons/Pause24.gif" value="btnPauseAllJobs" alt="Pause all jobs"/>
		</td>
		<td width="30">
			<img src="$base/icons/Play24.gif" value="btnResumeAllJobs" alt="Resume all jobs"/>
		</td>
	</tr>
</table>
<hr/>
<p>#text("label.scheduler.summary"): <i><pre>$!{scheduler.summary}</pre></i></p>
</html>