<form action="${req.contextPath}/schedule/cronSchedule.action">
<h1>#text("title.schedule.cron")</h1>
<input type="hidden" name="jobName" value="$!{jobName}" />
<input type="hidden" name="jobGroup" value="$!jobGroup"/>
<table>
	<tr>
		<td>#text("label.trigger.group")</td>
		<td><input type="text" name="triggerGroup" value="$triggerGroup"/></td>
		<td><i>#text("hint.trigger.group")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.name")</td>
		<td><input type="text" name="triggerName" value="$triggerName"/></td>
		<td><i>#text("hint.trigger.name")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.description")</td>
		<td><textarea rows="5" cols="50" name="description">$description</textarea></td>
		<td></td>
	</tr>
	<tr>
		<td>#text("label.trigger.startTime")</td>
		<td><input type="text" name="startTime" value="$startTime"/></td>
		<td><i>#text("hint.trigger.startTime")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.stopTime")</td>
		<td><input type="text" name="stopTime" value="$stopTime"/></td>
		<td><i>#text("hint.trigger.stopTime")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.cronExpression")</td>
		<td><input type="text" name="cronExpression" value="$cronExpression"/></td>
		<td><i>#text("hint.trigger.cronExpression")</i></td>
	</tr>
	<!--<tr>
		<td>#text("label.trigger.timeZone")</td>
		<td><input type="text" name="timeZone" value="$timeZone"/></td>
		<td><i>#text("hint.trigger.timeZone")</i></td>
	</tr>-->
<!--
    <tr>
        <td>volatility</td><td><input type="checkbox" name="volatility"/></td><td><i></i></td>
    </tr>
-->
</table>
<input type="submit" value="#text("label.global.schedule")"/>
<form>
#include("/WEB-INF/jsp/cronExpressionHelp.htm")

