<form name="jobDetailForm" method="post" action="${req.contextPath}/schedule/simpleSchedule.action">
<h1>#text("title.desc")</em> </h1>
	<input type="hidden" name="jobName" value="$jobName">
	<input type="hidden" name="jobGroup" value="$jobGroup">
<table>
	<tr>
		<td>#text("label.trigger.group")</td>
		<td><input type="text" name="triggerGroup" value="$!triggerGroup"/></td>
		<td><i>#text("hint.trigger.group")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.name")</td>
		<td><input type="text" name="triggerName" value="$!{triggerName}"/></td>
		<td><i>#text("hint.trigger.name")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.description")</td>
		<td><textarea rows="5" cols="50"  name="description">$!description</textarea></td>
		<td></td>
	</tr>
	<tr>
		<td>#text("label.trigger.startTime")</td>
		<td><input type="text" name="startTime" value="$!startTime"/></td>
		<td><i>#text("hint.trigger.startTime")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.stopTime")</td>
		<td><input type="text" name="stopTime" value="$!stopTime"/></td>
		<td><i>#text("hint.trigger.stopTime")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.repeatCount")</td>
		<td><input type="text" name="repeatCount" value="$!repeatCount"/></td>
		<td><i>#text("hint.trigger.repeatCount")</i></td>
	</tr>
	<tr>
		<td>#text("label.trigger.repeatInterval")</td>
		<td><input type="text" name="repeatInterval" value="$!repeatInterval"/></td>
		<td><i>#text("hint.trigger.repeatInterval")</i></td>
	</tr>
</table>

<input type="submit" value="#text("label.global.schedule")" />

</form>


