<div class="source" bgcolor="#eeeeee">
<div class="secondary subheading">Scheduler down</div>
<p>
Unable to perform desired action because sheduler is currently down.
Click <a href="$base/schedule/scheduleControl.action">Here</a> to control the scheduler.
</p>
</div>

