<center>
<form id="loginForm" name="loginForm" action="j_security_check" method="POST">
<table cellspacing="0" cellpadding="5" >
    <tr>
	<td bgcolor="#eeeeee"><em>#text("label.username")</em></td>
        <td bgcolor="#eeeeee"><input type="text" name="j_username" value="$!j_username" /></td>
   </tr>
   <tr>
		<td bgcolor="#eeeeee"><em>#text("label.password")</em></td>
        <td bgcolor="#eeeeee"><input type="password" name="j_password"" /></td>
   </tr>
   <tr>
		<td bgcolor="#eeeeee"><input type="submit" value="#text("label.signin")"> </em></td>
        <td bgcolor="#eeeeee"></td>
   </tr>
</table>
</form>
</center>
<script language="Javascript">
	try {
		document.loginForm.j_username.focus()
	} catch (e) {
		alert('could set focus');
	}
</script>
