#set ($def = $jobDefinition)
<h1>#text("title.createJob")</h1>
<form name="jobDetailForm" method="post" action="${req.contextPath}/jobs/saveJob.action">
<table>
	<tr>
		<td>#text("label.job.group")</td>
		<td><input type="text" id="q" name="jobDetail.group" value="$!jobDetail.group"/></td>
	</tr>
	<tr>
		<td>#text("label.job.name")</td>
		<td><input type="text" name="jobDetail.name" value="$!jobDetail.name"/> </td>
	</tr>
	<tr>
		<td>#text("label.job.jobClass")</td>
		
		<td><input type="text" name="className" value="$!{className}$!{jobDetail.jobClass.name}" /></td>
	</tr> 																			##  put one or the other
	<tr>
		<td>#text("label.job.description")</td>
		<td><textarea name="jobDetail.description">$!jobDetail.description</textarea></td>
	</tr>
	<tr>
		<td>#text("label.job.recover")</td>
		<td><input type="checkbox" name="jobDetail.requestsRecovery" value="true" #if($jobDetail.requestsRecovery()) checked="true" #end /></td>
	</tr>
	<tr>
		<td>#text("label.job.durable")</td>
		<td><input type="checkbox" name="jobDetail.durability" value="true"  #if($jobDetail.durable) checked="true" #end /></td>
	</tr>
</table>

<h3>#text("title.createJob.listeners")</h3>
<!-- todo add job listener functionality -->
<table>
</table>

<h3>#text("title.createDefinitionJob.params")</h3>
<table>
	<tr>
		<td>#text("label.job.parameter.name")</td>
		<td>#text("label.job.parameter.value")</td>
		<td>#text("label.job.parameter.required")</td>
	</tr>
#set ($params = $def.parameters)
#foreach ($p in $params)
    <tr>
    	<td>$p.name:  </td>
    	<td><input type="text" name="param.$p.name"/></td>
    	<td>$p.required</td>
    </tr>
#end
    #foreach($key in $jobDetail.jobDataMap.keys)
	<tr>
		<td><input type="text" name="parameterNames" value="$key"/></td>
		<td><input type="text" name="parameterValues" value="${jobDetail.jobDataMap.getString($key)}"/></td>
	</tr>
	#end
    <tr>
    	<td><input type="text" name="parameterNames"/></td>
    	<td><input type="text" name="parameterValues"/></td>
    </tr>
    <tr>
    	<td><input type="text" name="parameterNames"/></td>
    	<td><input type="text" name="parameterValues"/></td>
    </tr>
</table>

<input type="hidden" name="definitionName" value="$def.name" />
<input type="submit"  class="submit" name="saveAction" value="#text("label.global.save")"/>
</form>